header {
  & svg {
    width: 70px;
    height: 100%;
  }
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.breadcrumbs {
  & a {
    color: black;
    font-weight: 500;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::after {
      color: #a9a9a9;
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0;
      top: 5px;
      background: transparent;
      transition: all 0.3s;
    }

    &:hover::after,
    &.is-active::after {
      width: 100%;
      background: black;
    }
    &:hover {
      color: black;
    }
  }
}
.cart {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  height: auto;
  overflow: hidden;
  & .cart-icon {
    position: relative;
    top: 4px;
    z-index: 1;
    font-size: 24px;
    color: black;
  }
  & .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #ea7961;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  & svg {
    width: 100%;
  }
}
