.ly-main {
  --ly-maxWidth: 1036px;
  --ly-mainColumns: 1fr minmax(300px, var(--ly-maxWidth)) 1fr;

  display: grid;
  grid-template-columns: var(--ly-mainColumns);
  column-gap: 24px;
  min-height: 100%;
  box-sizing: border-box;
}
.ly-main > * {
  grid-column: 2;
  align-content: start;
}
