.products {
  & .products__searcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
      font-size: 80px;
      hyphens: manual;
      max-width: 240px;
      line-height: 68px;
      letter-spacing: 0.3px;
      margin: 20px;
      color: #464242;
    }
  }
  @media screen and (max-width: 600px) {
    & .products__searcher {
      flex-direction: column;
      gap: 20px;
    }
  }
}
.products ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  grid-gap: 30px;
  width: 100%;
  padding: 0px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
@media screen and (max-width: 1100px) {
  .products ul {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--size-8);
  }
}
.input-search {
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: var(--size-5) var(--size-5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: var(--size-1);
  max-width: 300px;
  padding: 0.5em 1em 0.5em 2.5em;
}

.input-search::placeholder {
  color: #838d99;
}

.input-search:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.product-container {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.card {
  position: relative;
  background: #e3dddc0d;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.title {
  color: #373434;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: var(--size-3);
}
.photo {
  z-index: 10;
  padding: var(--size-8);
}
.card:hover .photo {
  top: 0%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  & .model {
    color: #121314;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
  & .price {
    color: var(--secondary-color);
    font-size: 22px;
    line-height: 16px;
    font-weight: 900;
    margin-top: 8px;
    &.unavailable {
      color: grey;
    }
  }
}

.button {
  height: 45px;
  background-color: #ea7961;
  text-decoration: none;
  border: none;
  margin-top: 16px;
  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
  }
}

.button:hover {
  background-color: #d05f47;
}
