.product-details {
  & .product-details-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .product-details-info {
    & ul {
      list-style: none;
    }
  }
}
