.product-details {
  & h1 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.3px;
    margin: 20px;
  }
  & img {
    width: 250px;
  }
  & .product-details__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 80px;
    flex-wrap: wrap;

    @media screen and (max-width: 600px) {
      gap: 50px;
    }
  }
  & .product-details__info {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 20px;
    vertical-align: baseline;

    & ul {
      list-style: none;
      padding: 0px;
      color: #121314;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin-bottom: 2px;
      & .product-details__title {
        font-size: 32px;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        font-weight: 900;
        color: #373434;
        margin-bottom: 24px;
        @media screen and (max-width: 600px) {
          hyphens: manual;
          max-width: 220px;
          line-height: 32px;
        }
      }
      & .product-details__price {
        color: var(--secondary-color);
        font-size: 30px;
        line-height: 16px;
        font-weight: 900;
        margin-bottom: 24px;
        margin-top: 32px;
      }
      & .unavailable {
        color: grey;
      }
    }
  }
  & .products-details__features > * {
    margin-bottom: 24px;
    color: #121314;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 2px;
  }
  & .product-details__actions {
    margin-top: 24px;
  }
  & .product-details__selectors {
    & .product-details__selectors-title {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      color: #757575;
      margin-top: 8px;
      margin-bottom: 4px;
    }
    & .product-details__selectors-content {
      margin-bottom: 20px;
    }
    & select {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 30px;
    }
  }

  & .product-details__button {
    width: 100%;
    margin-top: 8px;
    min-width: 249px;
    height: 40px;
    padding: 0 20px;
    color: #fff;
    background-color: var(--secondary-color);
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      background-color: #d05f47;
    }
    &:disabled {
      background-color: grey;
    }
  }
}
